/**
@prefix : <http://purl.org/net/ns/doas#> .
<http://www.kanzaki.com/parts/kan01.css> a :CSSStylesheet;
 :title "The Web KANZAKI common stylesheet";
 :shortdesc "Common stylesheet for XHTML pages of this site";
 :created "1997-08-02";
 :release [:revision "3.5.1"; :created "2017-05-09"];
 :author [:name "KANZAKI, Masahide"; :homepage <http://www.kanzaki.com/> ];
 :license <http://creativecommons.org/licenses/LGPL/2.1/> .
*/


/* =============================================== */
/** @Global structure */
/* ----------------------------------------------- */

/** Docoment body */
body {
	color: black;
	background-color: #fdfdfc/*#fdfdf9#fdfdf6*/;
	font-size:100%;
}
/* for error handling pages */
body.error{
	color: black;
	background-color: #fff9f9;
}
/* for full screen mode */
body.full {
	max-width: none;
}

/* ----------------------------------------------- */
/** @handheld media */
/* ----------------------------------------------- */


@media screen, print, tv, projection {
	body {
		/*background: #fdfdfc url(/parts/www.png) no-repeat fixed top left;*/
		/* watch out bgcolor for p,ul,dic etc. at the bottom of this section */
		margin:0;
		padding: 10px 3em 10px 4em;
		max-width: 1000px; /*940px;*/
	}

	/** Headings and rule style */
	h1 {
		font-size: 175%;
		color:#002177;
		/*clear: both;*/
	}
	/* subtitle within h1 */
	.subtitle {
		font-size: 0.6em;
		font-weight: normal;
		color: green;
	}
	h2 {
		color: #0050B2;
		/*text-shadow: 0px 0px 1px black;*/
		margin-top: 1.75em;
		clear: both;
	}
	h3, h4, h5, h6 {
		color:#004466;
		margin-top: 1.6em;
		clear: both;
	}
	h1,h2,h3,h4,h5,h6 { /* Mozilla */
		/*font-family: sans-serif;*/
		margin-bottom: 0.5em;
	}
	p,li, dd {
		line-height: 1.4;
	}

	.banner, #banner {
		font-size: 80%;
		/*margin-left:-1.5em;*/
		display: block;
	}
	/** Top-right information */
	/* [Help] [Status info] positioning */
	#stinfo-navi{
		font-size: 140%;
		font-weight: normal;
		text-align: right; /*required for Opera support*/
		float:right;
		margin-right:-1em;
	}
	#stinfo-navi img {
		font-size: medium; /* for alt text */
	}

	/** from css3.css */
	/** external link */
	a[href^="http"]:after {
		content: url(/parts/netref.gif);
	}
	a[href^="http://www.kanzaki"]:after,
	a[href^="https://www.kanzaki"]:after {
		content: "";
	}
	a[href^="http://kanzaki"]:after {
		content: "";
	}
	/* in case of photo link */
	.fphoto a[href^="http"]:after, a.fphoto:after, a.badge[href^="http"]:after {
		content: "";
	}
	.example a[href^="http"]:after {
		content: "";
	}
}


@media only screen and (max-width: 700px) {
	body {
		padding-right: 1em;
		padding-left: 30px;
		background-attachment: scroll;
	}
	.banner, #banner {
		margin-left:0.5em;
	}
	/** Top-right information */
	/* [Help] [Status info] positioning */
	#stinfo-navi{
		margin-right:0;
	}
	.tagline {
		display: none;
	}
}
@media only screen and (max-width: 480px) {
	body {
		background-image: none;
		padding: 0.5em;
	}
	.banner, #banner {
		margin-left:0;
	}
	/** Top-right information */
	/* [Help] [Status info] positioning */
	#stinfo-navi{
		margin-right:0;
	}
}
@media handheld {
	body {
		background-image: none;
		padding: 0.5em;
	}
	p {
		margin-top: 1em;
	}
	h1, h2, h3, h4, h5, h6{
		margin-top: 1em;
	}
	h1,h2 {
		color: #00b;
		padding: 0.3em 0;
	}
	h1 {background: #eef}
	h2 {border-top: gray dotted 1px; border-bottom: gray solid 1px}
	h3 {color: #06b; border-bottom: #06b solid 1px; padding-bottom: 0.3em}
	h4 {color: #05a}
	h5,h6 {color: #05a; margin-left: 0.5em}

	dd,ol,ul {margin-left:2em; padding-left:0}
	blockquote {margin-left:2em;}

	.banner, #banner,p.alt-lang {margin: 0}
	p.alt-lang {float:none; text-align:left}
}
/* end of @media handheld */


/** Main content section */
div.maintext p,
div.main p {
	line-height: 1.67; /*1.5*/
	margin-bottom: 1.3em;
}
div.main li {
	line-height: 1.35;
	margin-bottom: 0.33em;
}
div.main li p {
	margin-bottom: 1em;
}
div.main li ul {
	margin-top: 0.33em;
}
/** Lead / summary section */
.intro{
	/*margin-left: -1.5em;*/
}
.lead {
	background-color: #fffff3;
	padding: 1em;
	border: solid 1px #eee;
	box-shadow: rgba(238, 238, 238, 0.66) 6px 6px 8px -4px;
	border-radius: 3px;
}
/*for difference btw IE5 and IE5.5/6 */
div.lead p /** dc:description */{
	line-height: 1.4;
	margin:0.35em;
}
/* table of contents */
ul.toc {
	list-style-image: url(/parts/tri-d.png);
}
.toc li, .main .toc li {
	line-height: 1.35;
	margin-bottom: 0.25em;
}


/** Footer section */
div.footer, #cif0, *[role="contentinfo"] {
	margin-top: 1.5em;
	padding-top: 0.7em;
	border-top: 1px gray solid;
	line-height: 1.4;
}
html:lang(ja) address {
	font-style:normal;
}
/* update information */
#pst {
	font-style: inherit;
	font-weight:normal;/*same as address*/
	color: navy;
}

.navi,
.navigation {
	margin-top: 2em;
}
.separate {
	margin-top: 3em;
	padding-top: 1em;
	border-top: silver 1px dotted;
}

/* =============================================== */
/** @Global block level */
/* ----------------------------------------------- */


hr {
	clear: both;
}


/** Language related */
div.en,
p.en {
	font-family: "Arial", sans-serif;
	background-color: #fdfdf9;
	padding-top: 1em;
	padding-bottom: 1em;
	border: double #ccf;
	border-width: thin 0;
	margin-bottom: 1em;
}
p.esum, div.esum, dd.esum { /* English summary section */
	background: #f8f8ff;
	padding: 1em;
	border: dotted #88f 1px;
}
/* English summary for ja user */
.esum {
	display: none;
}
/* English summary for non-ja user */
body.nonja .esum {
	display: block;
}
body.nonja span.esum,
body.nonja em.esum
 {
	display: inline;
}

/* from css3.css */
/* avoid bg image annoyance */
p, ul, ol, div, table {
	background-color: transparent; /* moved here to avoid NN4 trouble */
}
/* for IE HTML5 */
article, aside, footer, header, section {
	display: block;
}

/* ----------------------------------------------- */
/** @Boxed article */
/* ----------------------------------------------- */

/** Note block */
.note {
	color: #033;
	background-color: #eaf7ea88;
	/*width: 92%;*/
	padding-left: 1em;
	padding-right: 1em;
	/*margin-right: 1em;*/
	border: #eaf7ea 1px solid;
	border-radius: 5px;
}
p.note {
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}

/** Auxilary and hilite boxes */
.aux {
	font-size: 91%;
	color: #333;
	background-color: #f9f9f9;
	padding: 0.5em 1em;
	border: dotted 1px #333;
	margin-left: 0;
	margin-right: 1em;
}
.aux h2, .aux h3, .aux h4 {
	margin-top:0.9em;
	color: #369;
}
.hilitebox,
.infobox {
	background: white;
	padding: 0.5em 1em;
	border: solid 1px #ddd0c0;
}
.hilitebox{
	margin-left: 0;
	margin-right: 0;
}
div.set p,
div.set ol,
div.set ul {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
div.set p.misc {
	margin-left: 1em;
}
/** Example boxes */
.spec-fragment,
.example,
.badexample,
.res-sample {
	/*font-size: 95%;*/
	font-family: monospace;
	padding: 0.8em 1em 0.6em 1em;
	border: solid 1px #ddd0c0;
	line-height: 1.3;
	margin: 1em 1em 1em 0;
}
.auth {
	border-style: solid;
	border-width: 1px;
	margin: 1em 0;
	padding: 0 1em;
}
.auth,
.spec-fragment{
	border-color: #fc0;
	padding-bottom: 0;
}
.spec-fragment{
	background: white url(/parts/spec.gif) no-repeat top left;
}
.example {
	background: #fcfbf6 url(/parts/example.gif) no-repeat top left;
}
.example pre, .example p {
	margin: 0.3em auto;
}

.hilitebox,
.res-sample { /* response sample i.e. not input by user */
	background-color: #fcfcfc;
}
.badexample {
	background: #fff9f9 url(/parts/badex.gif) no-repeat top left;
	border-color: red;
}
.l-ex { /* large example */
	font-size: large;
}

/** Example label */
.ex-label { /* inline, but part of box */
	color: #00c;
}
div p.ex-label {
	margin: 0 auto;
}


/* ----------------------------------------------- */
/** @Table semantics */
/* ----------------------------------------------- */

/*standard table border */
table {
	border-collapse: collapse;
	margin-top: 1em;
	margin-bottom: 1em;
}
table, th, td {
	border: solid 1px #333;
}
th, td {
	padding: 0.5em;
}
th {
	text-align: center;
}
form table, form th, form td,
table.arrange, .arrange th, .arrange td {
	border: none;
}
form th, form td, .arrange th, .arrange td {
	padding: 0.3em 0.2em;
}

thead {
	background-color: #ddd;
}
col.term, colgroup.term {
	background-color: #f8f8ff/*#eef*/;
}
col.desc, colgroup.desc,
td.mark {
	background-color: #fffff0/*#fcfcf4;#ffffe9*/;
}
col.formula, colgroup.formula {
	background-color: #def;
}
.special {
	background-color: #fee;
}

/** All cells are code. can be used for other elements */
.codes {
	font-family: monospace;
}


/* ----------------------------------------------- */
/** @Functional blocks */
/* ----------------------------------------------- */

/** Controls */

button { /* Safari */
	display: inline
}
fieldset {
	background-color: #ffffef;
	padding: 1em;
	border: gray solid 1px;
}
.query { /*form or fieldset*/
	display: inline;
}


/** Take care of print */
span.hrefprint {
	display:none
}
.cpr {
	color: black;
	display: none;
}



/** Weak or minor semantic classes */

.obsolete {
	color: #777;
	background: white url(/parts/obsolete.gif) no-repeat top left;
	padding: 0.5em 1em 0.5em 2em;
	border: silver dashed 1px;
	border-right: none;
}
li.obsolete {
	background: transparent;
	padding: 0;
	border: none;
}
.obsolete h2, .obsolete h3, .obsolete h4 {
	color: gray;
}
.obsolete a:link {
	color: #668;
}
.obsolete a:visited {
	color: #866;
}
.obsolete .attn, .obsolete .attn2, .obsolete .attn3 {
	color: #555;
}
.obsolete .dif1, .obsolete .dif2, .obsolete .dif3 {
	color: #777;
	background-color: #ddd;
}

.dim, .deprecated {
	color: gray;
}
.dim a:link, .dim a:visited {
	color: #339;
}

/* not main text. can be used with inline elements */
.annotate,
.correction,
.excuse,
.credit,
.misc {
	font-size: 80%;
}

/* somewhat 'low key' */
.whisper {
	font-size: 80%;
	color:#666666;
}

/* do not display on CSS aware browsers, but show on others */
.c, .comptblty {
	display: none;
}


/** Some positioning */

/* -- pseudo columns -- */
/* Set class="clear" on the following element */
.col-left,
.col-right {
	text-align: left;
	padding-right: 1em;
	width: 50%;
}
.col-left  {
	float: left;
}
.col-right {
	float: right;
}
.clear {
	clear: both;
}

/* number should be right aligned*/
.num {
	text-align: right;
}
/* some (legacy) positioning styles */
.pause, /*separating sections such as * * * */
.prima,  /* primary image or section */
.sn /* semantically neutral */ {
	text-align: center;
}
.fyi, /* For your info */
.tailpiece, /* cite, signature etc, at the right bottom */
.dopo /* <-> prima */ {
	text-align: right;
}
.fyi img {vertical-align:bottom}
.alt-lang {
	text-align:right;
	/*background:#efe*/
	padding-top:0.5em;
	margin-right:-1em;
	/*position:absolute;
	right: 1em;*/
	float:right;
}




/* =============================================== */
/** @Inline semantics */
/* ----------------------------------------------- */

/** Definition and subject */
dfn {
	font-style:normal;
	font-weight: bolder;
}
dt {
	font-weight:bolder;
	margin-top:0.4em;
}
var {
	font-style: italic;
	color: #066;
}
/*key identifying instruction*/
.ki kbd, kbd.ki {
	background: #fff3f3;
	padding: 0.1em 0.3em;
	border: solid 1px; /*outset thin not great in IE */
	border-color: #ccc #333 #333 #ccc;
}

del {
	color: gray;
}

acronym,
abbr { /*IE abac*/
	border-bottom:1px dotted ;
	text-decoration: none ; /* to avoid ugly webkit decoration */
	display: inline-block;
	height: 1.3em;
}
td abbr {
	border-bottom-color: silver;
}
/* moz border-bottm is far */
@-moz-document url-prefix() {
	abbr {
		border-bottom: none;
		text-decoration: underline dotted ;
	}
	td abbr {
		text-decoration-color: silver ;
	}
}



abbr[title]:hover {
	cursor: help;
}

q {
	color: #044;
	background: #f5f5eb;
	padding: 0.2em 0.3em;
}

code {
	font-size: 100%;
	font-family: monospace;
}

/* ----------------------------------------------- */
/** @Hyper links */
/* ----------------------------------------------- */

/* for link anchors */
a:link{
	color: blue;
	text-decoration: underline rgba(100, 100, 255, 0.5);
}
a:visited {
	color: #944;
	text-decoration: underline rgba(153, 68, 68, 0.5);
}
a:active {
	color: #e33;
}
a:link:hover {
	background: inherit;
	text-decoration-color: blue;
}
a:visited:hover {
	background: inherit;
	text-decoration-color: #944;
}

/* avoid confusion on TOC links within the page  (IE) */
.lead a:visited,
.inner a:visited {
	color: #059;
}

.lead a:hover,
.inner a:hover {
	background: #e8e8e8;
}
a[name]:hover {
	background: inherit;
}

a#webmastermail:visited { color: blue}

/** link lists */
.ref { /* other page */
	list-style-image: url(/parts/tri-r.png);
}
.inner { /* within the document */
	list-style-image: url(/parts/tri-d.png);
}
.enm { /*enumerated type*/
	list-style-image: none;
}

a.badge{
	font-size: 60%;
	background: #ffc;
	padding: 1px 3px 1px 0;
	border:1px solid gray;
	text-decoration: none;
	display: none;
}
a.badge:link, a.badge:visited {
	color:black;
}
a.badge:link .rdfa, a.badge:visited .rdfa {
	color: white;
	background: #679;
	padding: 1px 3px;
}
a.badge:hover {
	border: 2px solid blue;
}

/* ----------------------------------------------- */
/** @Phrase hilites */
/* ----------------------------------------------- */

.hilite{
	background: #ffffcc;
	padding: 0.6em 1em;
	border: none;
}

/** Attentions */
.attn  {
	color:#e30;
}
.attn2 {
	color:#00f;
}
.attn3 {
	color:#082;
}
.attn4 {
	color:#a20; /*maroon;*/
}

/** Line marker hilite */
.dif1 {
	color:black;
	background-color:#f0f0fd; /*d3d3f9;f3f3fd;eaeafd*/
}
.example .dif1 {
	color:black;
	background-color:#e6e6f9; /*d3d3f9*/
}
.dif2 {
	color:black;
	background-color: #feebeb/*#fff3f3;ffe3e3*/;
}
.example .dif2 {
	color:black;
	background-color:#ffe3e3; /*ffe3e3*/
}
.dif3 {
	color:black;
	background-color:#b7ffaf; /*#ace0ac*/
}
.example .dif3 {
	color:black;
	background-color:#d9f8d3; /*#ace0ac*/
}
.dif4 {
	color:black;
	background-color:#fff2cd /*#feb*/;
}
.dif5 {
	color:black;
	background-color:#e7f4e7;
}

/** Hot, cool, pseudo... */
.hot {
	color:#ff0000;
}
em.hot,
em.attn {
	font-weight: normal;
}
.cool,
.pseudolink {
	color:#0000ff;
}
.pseudolink {
	text-decoration: underline;
	cursor:pointer;
}
.pseudobutton {
	background:#f0f0f0;
	/*padding:0.1em;*/ cursor:pointer;
	/*border: #e3e3e3 outset thin;*/
	box-shadow: 1px 1px #00000044;
	display:block;
}
.notice ,
.ntc code {
	color: green;
}

.tight {
	letter-spacing: -1px;
}
/** cancel hilites */
.silent {
	font-style: normal;
	font-weight: normal;
	color:black;
}

/** Image related position and border */
img.left,
img.sign {
	float: left;
}
img.right,
img.dopo,
figure.dopo,
img.tailpiece {
	float: right;
	margin-left:10px;
	margin-right: 0;
}
figure.dopo figcaption {
	text-align: center;
}
a img {
	/*color: white;*/
	/* border:none breaks NN 4.x */
	border: none white 0px;
}

.fphoto a img, .related a img {
	border: blue 1px solid;
	margin-right: 2px;
}


/* =============================================== */
/** @Header functions */
/* ----------------------------------------------- */

/** Logo-banner-navigation */
.banner a:link,
.banner a:visited,
#banner a:link,
#banner a:visited{
	color: #66e;
	text-decoration: none;
}
.banner a:hover,
#banner a:hover{
	text-decoration: underline;
	color: blue/*#f64c4c*/;
	background: transparent;
}

/** Text appearance for navibar */
.banner,
#banner,
.navi-ex {
	/*font-family: Helvetica, Arial, sans-serif;
	font-weight: bolder;*/
	color: #becee4/*#66e*/;
}
#twk-logo {
	margin-right: 2px;
	vertical-align: -7px;
}
.tagline {
	font-style: italic;
	border-bottom: solid 1px #dfe1f1;
	padding-right: 4em;
	padding-left: 3px;
}
/* pesudo underline for banner */
#gnavi{
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #cce;
	padding-right: 3em;
	display: inline;
}

/* [Status info] */
#snavi{
	font-size: 16px;
}
/* end of header / navskip destination */
#navskip {
	clear: both;
}

/** pseudo fixed link banner */
#pflb {
	margin: 0;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
#pflb img {
	width: 25px;
	height: 200px;
}
a#pflb:hover{
	background: transparent;
}


/* =============================================== */
/** @Functions placed at the bottom */
/* ----------------------------------------------- */

/* QR code buttons */
#qrcode {
	font-size: 72%;
	font-style: normal;
	line-height: 1.0;
	text-align: center;
	padding: 0.3em 0.5em;
	border: #cacaca 1px dotted;
	margin-left: 0.5em;
	width: 8em;
	display: block;
	float: right;
}
#qrcode .pseudobutton {
	height: 2em;
	line-height: 2em;
	color: #999;
	background:#ddd;
	text-shadow: -1px -1px 1px #99999969, 1px 1px 1px #ffffffe3;
}
}
/* a legacy CSS note */
#b2t-navi {
	display: none;
}

#aux-sidebar {position: absolute; top: 5em; right: 1em; z-index: -1; display:none}

/* =============================================== */
/** @Media specific style */
/* ----------------------------------------------- */

/** Popup table of contents */
#poptoc {
		display: none;
}
@media screen {
	#poptoc {
		font-size: small;
		background: #e5e5e5;
		padding: 0.5em;
		border: gray thin outset;
		margin-right: -10em;
		/*min-width: 18em; max-width: 25em;*/
		/*width: 22em;*/
		position: absolute;
		z-index: 1;
	}
	#poptoc a:hover{
		background: #ccc;
	}
	#poptoc a{
		color: blue;
	}
	#poptoc h2{
		font-weight: normal;
		font-size: 110%;
		text-align: center;
		color: navy;
		background: #fee;
		padding: 0.3em;
		border: silver solid 1px;
		margin: 0;
	}
	#poptoc h2 a{
		text-decoration: none;
		color: navy;
		position:static;
	}
	#poptoc h2 img {
		margin-bottom: -3px;
		margin-right: 2px
	}
	#poptoc .nav {
		padding-top: 0.2em;
		border-top: 1px gray solid;
	}
	#poptoc a.here{
		text-decoration: none;
		color: black;
		background: #ccc;
		border: 1px dotted gray;
		cursor: default;
	}

	img.tocpic {
		margin-left: 0.5em;
		margin-bottom: -3px;
		cursor: pointer;
	}
}

@media handheld{
	img.tocpic {
		display: none;
	}
}

@media print {
	body {
		background: white;
		padding-right: 2em;
		padding-right: 3em;
		font-family: serif;
		color:black;
		background: white;
		max-width: none;
	}
	/** del and ins */
	del {
		display:none;
	}
	ins {
		text-decoration:none;
	}
	/** hyper links */
	a:link,a:visited,.lead a:visited,.pseudolink {
		text-decoration:none;
		color:navy;
	}
	address a:link, address a:visited, address *{
		color:black;
	}
	/** script generated URI for IE */
	span.hrefprint {
		font-size: 80%;
		font-family: monospace;
		font-style:normal;
		color:gray;
		display:inline;
	}
	.refs span.hrefprint {
		display:none;
	}
	/** not for print */
	.noprint, img.tocpic, span#qrcode, #_rdfadistiller, #validrdfa {
		display:none;
	}
	/** for print only class */
	.cpr {
		display:inline;
	}
	/** functional sections */
	address #pst {
		text-decoration:none;
		color: black;
	}
	#pflb {
		display:none;
	}
	/** from css3.css */
	.main a[href^="http"]:after {
		content: " <" attr(href) "> ";
		font-size: 80%;
		font-family: monospace;
		font-style:normal;
		color:gray;
	}
	dl.refs a[href^="http"]:after {
		content: "";
	}
}
